.find-buttons, .find-presets, .find-users, .buttons-in-preset, .add-button-to-preset {
  flex: 1;

  .controls, .buttons-list, .presets-list, .users-list {
    @include md-box-shadow(1);
  }

  .controls {
    margin-bottom: 1em;

    >.md-grid {
      justify-content: center;
    }
  }
}

.create-button, .create-preset {
  width: 98%;
  margin: 1em auto;
  padding: 0.5em;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ace-editor * {
  font-family: monospace;
}

.button-script-editor.files {
  width: calc(33.33333% - 16px);

  .add-file {
    display: flex;
    flex-direction: column;
    align-items: center;

    .md-text-field-container {
      width: 90%;
    }

    i.md-icon.material-icons {
      width: 1em;
    }
  }
}
.rename-file {
  display: flex;
  flex-direction: column;
  align-items: center;

  .md-text-field-container {
    width: 100%;
    margin-bottom: 2em;
  }
}

.delete-button, .fork-button, .view-button,
.delete-preset, .fork-preset, .view-preset,
.user-account > .login, .user-account > .account > .md-paper, .purchase,
.documentation-list, .view-documentation,
.buttons-in-preset > .controls, .buttons-in-preset > .buttons-list,
.add-button-to-preset > .buttons-list,
.edit-button-in-preset,
.place-buttons-in-preset,
.create-button-from-userscript {
  width: 98%;
  margin: 1em auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    margin-bottom: 1em;
  }
}

.view-button, .view-preset {
  .md-paper {
    width: 98%;
    margin: 1em auto;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      margin-bottom: 1em;
    }
  }

  h2.name {
    margin-bottom: 0.2em;

    i.md-icon {
      vertical-align: text-top;
      margin-right: 0.2em;
    }
  }

  span.domains {
    font-size: 125%;
  }

  div.description {
    text-align: center;
  }

  div.url-match {
    margin-bottom: 1em;
    text-align: center;
    font-size: 125%;
    
    label {
      display: block;
      font-weight: bold;
      margin-right: 0.2em;
    }

    span {
      color: gray;
    }
  }

  .button-script-editor.files {
    max-width: 40em;
    width: 90%;

    >ul.md-list {
      width: 100%;
    }
  }
}

span.creator {
  span.reputation {
    margin-left: 0.2em;
  }
}

div.votes {
  display: flex;
  align-items: center;

  div.controls {
    button {
      min-width: initial;
      padding: 0.2em;
    }
  }
}

div.comments {
  >div {
    width: 100%;
    display: flex;
    align-items: center;
     justify-content: center;
  }

  div.add, div.comments-list {
    flex-direction: column;
  }

  div.comment {
    div.content {
      font-size: 125%;
    }

    div.info {
      display: flex;
      align-items: center;

      span.creator {
        margin: 0em 1em;
      }
    }
  }
}

.find-users {
  padding: 0.5em;
}

dl.info-list {
  display: table;

  >div {
    display: table-row;

    dt {
      font-weight: bold;
      padding-right: 0.5em;
      vertical-align: middle;
    }

    dd, dt {
      display: table-cell;
      font-size: 125%;
    }
  }
}

.view-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;

  >.md-paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
  }
}

.user-account {
  .login {
    >div button {
      width: 10em;
      margin: 0em 0.5em;
    }
  }

  .account {
    >div.controls {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.purchase {
  >div.expiration {
    display: flex;

    >.md-text-field-container {
      flex: 1;
    }
  }
}

.documentation-list {
  padding: 0em;

  >.md-list {
    width: 100%;
  }
}

.buttons-in-preset, .add-button-to-preset {
  .buttons-list {
    align-items: stretch;
  }
}

.add-button-to-preset {
  >p {
    text-align: center;
  }
}

.edit-button-in-preset {
  >div.controls {
    >button {
      margin: auto 0.5em;

      .md-icon {
        width: 1em;
      }
    }
  }
}

.buttons-in-preset, .place-buttons-in-preset {
  >div.controls {
    flex-direction: row;
    justify-content: center;

    >button {
      margin: auto 0.5em;
      width: 15em;
    }
  }
}

.xybuttons.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999999999;
  user-select: none;
  background-color: rgba(0,0,0, 0.3);

  >div.controls {
    display: table;
    padding: 0.5em;
    position: fixed;
    background-color: white;

    @include md-box-shadow(5);

    >div {
      display: table-row;

      >* {
        display: table-cell;
      }

      >label {
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
}