.find-buttons {
  flex: 1;

  .controls, .buttons-list {
    @include md-box-shadow(1);
  }

  .controls {
    margin-bottom: 1em;

    >.md-grid {
      justify-content: center;
    }
  }
}

.create-button {
  width: 98%;
  margin: 1em auto;
  padding: 0.5em;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ace-editor * {
  font-family: monospace;
}

.button-script-editor.files {
  width: calc(33.33333% - 16px);

  .add-file {
    display: flex;
    flex-direction: column;
    align-items: center;

    .md-text-field-container {
      width: 90%;
    }

    i.md-icon.material-icons {
      width: 1em;
    }
  }
}
.rename-file {
  display: flex;
  flex-direction: column;
  align-items: center;

  .md-text-field-container {
    width: 100%;
    margin-bottom: 2em;
  }
}

.delete-button, .fork-button {
  width: 98%;
  margin: 1em auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    margin-bottom: 1em;
  }
}