.find-buttons, .find-presets {
  flex: 1;

  .controls, .buttons-list, .presets-list {
    @include md-box-shadow(1);
  }

  .controls {
    margin-bottom: 1em;

    >.md-grid {
      justify-content: center;
    }
  }
}

.create-button, .create-preset {
  width: 98%;
  margin: 1em auto;
  padding: 0.5em;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ace-editor * {
  font-family: monospace;
}

.button-script-editor.files {
  width: calc(33.33333% - 16px);

  .add-file {
    display: flex;
    flex-direction: column;
    align-items: center;

    .md-text-field-container {
      width: 90%;
    }

    i.md-icon.material-icons {
      width: 1em;
    }
  }
}
.rename-file {
  display: flex;
  flex-direction: column;
  align-items: center;

  .md-text-field-container {
    width: 100%;
    margin-bottom: 2em;
  }
}

.delete-button, .fork-button, .view-button,
.delete-preset, .fork-preset, .view-preset {
  width: 98%;
  margin: 1em auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    margin-bottom: 1em;
  }
}

.view-button, .view-preset {
  .md-paper {
    width: 98%;
    margin: 1em auto;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      margin-bottom: 1em;
    }
  }

  h2.name {
    margin-bottom: 0.2em;

    i.md-icon {
      vertical-align: text-top;
      margin-right: 0.2em;
    }
  }

  span.domains {
    font-size: 125%;
  }

  p.description {
    margin-top: 1em;
    font-size: 150%;
  }

  dl.info-list {
    display: table;

    >div {
      display: table-row;

      dt {
        font-weight: bold;
        padding-right: 0.5em;
        vertical-align: middle;
      }

      dd, dt {
        display: table-cell;
        font-size: 125%;
      }
    }
  }

  div.url-match {
    margin-bottom: 1em;
    font-size: 125%;
    
    label {
      font-weight: bold;
      margin-right: 0.2em;
    }

    span {
      color: gray;
    }
  }

  .button-script-editor.files {
    max-width: 40em;
    width: 90%;

    >ul.md-list {
      width: 100%;
    }
  }
}

span.creator {
  span.reputation {
    margin-left: 0.2em;
  }
}

div.votes {
  display: flex;
  align-items: center;

  div.controls {
    button {
      min-width: initial;
      padding: 0.2em;
    }
  }
}

div.comments {
  >div {
    width: 100%;
    display: flex;
    align-items: center;
     justify-content: center;
  }

  div.add, div.comments-list {
    flex-direction: column;
  }

  div.comment {
    div.content {
      font-size: 125%;
    }

    div.info {
      display: flex;
      align-items: center;

      span.creator {
        margin: 0em 1em;
      }
    }
  }
}